.h{
    background-color: red;
    font-size: 50px;
    width: 1000px;
}


/*///////////////////////////////////////////////////////*/


/* 300以上，從0~300 */
 @media(min-width:300px){.h {background-color: yellow;}} 
/* 500以上 ，從301~500 */
 @media(min-width:500px){.h {background-color: green;}} 
/* 700以上，從501~700以上 */
 @media(min-width:700px){.h {background-color: blue;}} 


/*///////////////////////////////////////////////////////*/


/* 700以下 */
 /* @media(max-width:700px){.h {background-color: yellow;}}   */
/* 500以下 */
 /* @media(max-width:500px){.h {background-color: green;}}   */
/* 300以下 */
 /* @media(max-width:300px){.h {background-color: blue;}}   */


/*///////////////////////////////////////////////////////*/

/* @media  (min-width:301px) and (max-width:500px) {.h {background-color: yellow;}} */
/**/
/* @media  (min-width:501px) and (max-width:700px) {.h {background-color: green;}} */
/**/
/* @media  (min-width:701px)  {.h {background-color: blue;}} */

/*///////////////////////////////////////////////////////*/
