/* <!-- 上面影片種類 --> */

.whole_types{
    height: 56px;
    /* border: 1px solid pink; */
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}
.type{
    width: 60px;
    min-width: 60px;
    height: 22px;
    background-color:  rgba(34, 34, 34, 1);
    border-radius: 6px;
    margin-left:20px ;
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: center;
    writing-mode: horizontal-tb;
}
.all_type{
    display: none;
}
.newUpload{
    min-width: 100px;
    width: 100px;   
}
.newEar{
    min-width: 180px;
    width: 180px;
}

/* <!-- 上面影片種類 --> */
