/* 廣告 */
.advertisementDiv{
    height: 286px;
    /* border: 1px solid yellow; */
    display: flex;
    justify-content: center;
}
.adVideoOut{
    display: block;

}
.adVideo{
    display: block;
}
.adImgOut{
    margin-left: 100px;
}

.adImg{
    border-radius: 10px;
    margin-bottom: 25px;
}
.adImgLogoOut{
    display: flex;
}
.adImgLogo{
    width: 150px;
    margin-right: 20px;

}
.adKnow{
    background-color: rgba(62, 166, 255, 1);
    text-align: center;
    width: 90px;
    color: black;
    border-radius: 20px;
    margin-top: 7px;
    padding: 3px;
}
/* 廣告 */
